.container {
  gap: 2rem;
  display: flex;
}

.container span {
  display: flex;
  flex-direction: column;
}

.container span li {
  display: flex;
  gap: .5rem;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .container {
    gap: 1rem;
    font-size: 12px;
  }
}