.container {
  display: flex;
  width: 100%;
  padding-left: var(--p-responsive);
  padding-right: var(--p-responsive);
}

.leftSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightSection {
  width: 100%;
}