.container {
  width: 100%;
  display: flex;
}

.leftSection {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerTitle {
  display: flex;
  border-radius: 5px;
  padding-left: var(--p-responsive);
  padding-right: var(--p-responsive);
  background-color: var(--color-app-white-transparent);
  backdrop-filter: blur(10px);
}

.contactContainer {
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-app-white-transparent);
  backdrop-filter: blur(10px);
}

.contact {
  font-size: 12px;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 800px) {

  .rightSection {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .contactContainer {
    width: 250px;
  }
}