.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.innerContainer {
  width: 100%;
  display: flex;
  padding-left: var(--p-responsive);
  padding-right: var(--p-responsive);
}

.image {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.dataContainer {
  width: 100%;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--color-dark-800);
  backdrop-filter: blur(10px);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button {
  min-width: 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-dark-300);
}

.actions {
  gap: 1rem;
  display: flex;
}

.confirmDelete {
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.action {
  cursor: pointer;
}