.container {
  gap: 1rem;
  padding: 5rem;
  padding-left: var(--p-responsive);
  padding-right: var(--p-responsive);
  min-height: 100vh;
  padding-top: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detailsContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.galleryImage {
  max-width: 1440px;
}