.formContainer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.formContainer span {
  display: flex;
  flex-direction: column;
}