.formContainer {
  gap: 1rem;
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formContainer span {
  display: flex;
  flex-direction: column;
}

.loader {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}