:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(24, 24, 24, 0.87);
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #242424;

  --color-light-100: white;

  --color-dark-100: black;
  --color-dark-200: rgb(16, 16, 16);
  --color-dark-300: rgb(32, 32, 32);
  --color-dark-400: rgb(48, 48, 48);
  --color-dark-500: rgb(60, 60, 60);
  --color-dark-600: rgb(72, 72, 72);

}

a {
  font-weight: 500;
  color: var(--color-dark-100);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-dark-600);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

nav {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #fefefe;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.239);
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  height: 50vh;
  display: flex;
}

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 1440px;
  margin-top: -3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.197);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fefefe;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="text"],
input[type="password"] {
  padding: .5rem;
  border-radius: 5px;
  color: black;
  background-color: transparent;
}

textarea {
  padding: .5rem;
  min-height: 50px;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
  resize: vertical;
  background-color: transparent;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}