.container {
    padding: 5rem;
    padding-left: var(--p-responsive);
    padding-right: var(--p-responsive);  
    padding-top: 0;
}

.cardsContainer {
    gap: 1rem;
    width: 100%;
    display: flex;
}