.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding-left: 4.4rem;
  padding-right: 4rem;
}

.innerContainer {
  gap: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.innerContainer section {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .container {
    padding-left: 1.4rem;
    padding-right: 1.5rem;
  }
}